@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;1,200;1,300;1,400;1,600&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;1,200;1,300;1,400;1,600&display=swap");
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Titillium Web", sans-serif;
    font-size: 16px;
}

header {
    margin: 5vh 5vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo {
    font-family: "Shadows Into Light", cursive;
}

header .logo a {
    text-decoration: none;
    color: black;
}

header .logo a:hover {
    color: gray;
}

header button {
    background-color: white;
    border: #7611f8 1px solid;
    color: #7611f8;
    padding: 0.6vw 2vw;
    border-radius: 15%;
    font-family: "Shadows Into Light", cursive;
}

header button:hover {
    color: white;
    background-color: #7611f8;
}

main {
    text-align: center;
}

main .main-title {
    margin: 0px 0px;
}

main .title-desc {
    font-weight: 300;
    font-size: 1.2rem;
    margin: 0px 0px;
}

main .avatar {
    margin-bottom: 5vh;
}

main .avatar img {
    width: 30vh;
}

main .setup-design {
    margin-bottom: -1vh;
}

main .setup-design img {
    width: 50vw;
}

main .introduction {
    background-image: linear-gradient(to bottom, #7510f7, #7510f7);
    height: 60vh;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

main .introduction .intro-desc {
    width: 50vw;
    padding-bottom: 14vh;
}

main .recent-work-title-box {
    width: 80vw;
    height: 10vh;
    background-color: white;
    border-radius: 20px;
    margin: 0 auto;
    margin-top: -7vh;
}

main .recent-work-title-box h1 {
    font-size: 1.4rem;
    font-weight: 400;
    font-family: "Shadows Into Light", cursive;
    padding: 2vh 0;
}

main .recent-work-content {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main .recent-work-content .box {
    border: 0.1px black solid;
    margin: 1vh 0;
    height: 40vh;
    width: 50vw;
    opacity: 0.6;
    transition: opacity 0.5s, width 0.5s, height 0.5s;
}