@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jaldi&display=swap");
@-webkit-keyframes opacity-animation {
  from {
    opacity: 0;
    margin-bottom: 10%;
  }
  to {
    opacity: 1;
    margin-bottom: 0;
  }
}
@keyframes opacity-animation {
  from {
    opacity: 0;
    margin-bottom: 10%;
  }
  to {
    opacity: 1;
    margin-bottom: 0;
  }
}
.dashboard-main {
  margin-top: 6vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1%;
}
.dashboard-main img {
  width: 30%;
  opacity: 1;
  transition: margin-bottom 1s opacity 1s;
  -webkit-animation-name: opacity-animation;
          animation-name: opacity-animation;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
}

.title {
  position: relative;
  perspective: 400;
  padding-left: 17px;
  font-family: Arial;
  font-weight: bold;
  font-size: 52px;
  text-transform: uppercase;
}
.title span {
  padding: 0 20px;
  color: var(--color-primary-apple-blossom);
  font-family: "Jaldi", sans-serif;
}

.title:before {
  content: "";
  display: block;
  position: absolute;
  height: 100%;
  width: 6px;
  background: var(--color-primary-apple-blossom);
  top: 0;
  left: 0;
  opacity: 0;
  transform: translateX(-150px);
  -webkit-animation: title-border-slide-in 0.35s ease-out forwards;
  animation: title-border-slide-in 0.35s ease-out forwards;
}

.title .title-word {
  opacity: 0;
  transform-origin: bottom center;
  transform: rotateX(-90deg);
}

.title .title-word:nth-child(1) {
  -webkit-animation: roll-in 0.15s 0s ease-out forwards;
  animation: roll-in 0.15s 0s ease-out forwards;
}

.title .title-word:nth-child(2) {
  -webkit-animation: roll-in 0.15s 0.175s ease-out forwards;
  animation: roll-in 0.15s 0.175s ease-out forwards;
}

.title .title-word:nth-child(3) {
  -webkit-animation: roll-in 0.15s 0.35s ease-out forwards;
  animation: roll-in 0.15s 0.35s ease-out forwards;
}

.title .title-word:nth-child(4) {
  -webkit-animation: roll-in 0.15s 0.525s ease-out forwards;
  animation: roll-in 0.15s 0.525s ease-out forwards;
}

@-webkit-keyframes title-border-slide-in {
  0% {
    transform: translateX(-150px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes title-border-slide-in {
  0% {
    transform: translateX(-150px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@-webkit-keyframes roll-in {
  0% {
    transform: rotateX(-90deg);
    opacity: 1;
  }
  100% {
    transform: rotateX(0deg);
    opacity: 1;
  }
}
@keyframes roll-in {
  0% {
    transform: rotateX(-90deg);
    opacity: 1;
  }
  100% {
    transform: rotateX(0deg);
    opacity: 1;
  }
}
@media (max-width: 800px) {
  .dashboard-main {
    flex-direction: column;
  }
  .dashboard-main div {
    margin: 20px 0;
  }
}
.login-page {
  margin: 15vh 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-title {
  color: var(--color-primary-apple-blossom);
}

.login-form-container {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5%;
  width: 45%;
  background-color: var(--color-primary-apple-blossom);
}

.login-form {
  width: 90%;
  padding: 15px;
}

.login-form div {
  margin: 12px 0;
}

.login-form input {
  width: 60%;
  padding: 3px;
  margin-left: 10px;
  outline: none;
  border: none;
  float: right;
}

.login-form label {
  color: white;
}

.login-form small {
  display: block;
  text-align: right;
  margin: 5px 0;
  color: white;
  font-size: 0.5rem;
}

.login-form button {
  background-color: white;
  border: var(--color-primary-apple-blossom);
  color: var(--color-primary-apple-blossom);
  padding: 4px;
  width: 60%;
  float: right;
}

.login-form button:hover {
  border: 1px solid white;
  background-color: var(--color-primary-apple-blossom);
  color: white;
  cursor: pointer;
}

.login-form input.error {
  border: 1px solid brown;
}

.login-status {
  text-align: center;
  color: var(--color-primary-apple-blossom);
  padding: 10px;
}

.forgot-password a {
  text-decoration: none;
  color: white;
}
.forgot-password a:hover {
  text-decoration: underline;
}

.registration-page {
  margin: 15vh 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.registration-title {
  color: var(--color-primary-apple-blossom);
}

.registration-form-container {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5%;
  width: 45%;
  background-color: var(--color-primary-apple-blossom);
}

.registration-form {
  width: 90%;
  padding: 15px;
}

.registration-form div {
  margin: 12px 0;
}

.registration-form input {
  width: 60%;
  padding: 3px;
  margin-left: 10px;
  outline: none;
  border: none;
  float: right;
}

.registration-form label {
  color: white;
}

.registration-form small {
  display: block;
  text-align: right;
  margin: 5px 0;
  color: white;
  font-size: 0.5rem;
}

.registration-form button {
  background-color: white;
  border: var(--color-primary-apple-blossom);
  color: var(--color-primary-apple-blossom);
  padding: 4px;
  width: 30%;
  float: right;
}

.registration-form button:hover {
  border: 1px solid white;
  background-color: var(--color-primary-apple-blossom);
  color: white;
  cursor: pointer;
}

.registration-form input.error {
  border: 1px solid brown;
}

.nav-bar {
  background-color: var(--color-primary-apple-blossom);
  display: flex;
  justify-content: space-between;
}
.nav-bar a:hover {
  color: white;
}

.right-side ul, .left-side ul {
  display: flex;
  list-style-type: none;
}

.right-side a, .left-side a {
  padding: 0 20px;
  color: #e9e7e7;
  text-decoration: none;
}

.left-side ul {
  padding: 0;
  text-align: left;
}

/*
************************************************************************
Add Word Button
************************************************************************
*/
.btn {
  padding: 10px 30px;
  margin: 20px 0 0 20px;
  color: var(--color-primary-apple-blossom);
  cursor: pointer;
  display: block;
  font-size: 16px;
  font-weight: 400;
  max-width: 160px;
  text-decoration: none;
  text-transform: uppercase;
  width: 100%;
}

.btn-5 {
  border: 0 solid;
  box-shadow: inset 0 0 20px white;
  outline: 1px solid;
  outline-color: var(--color-primary-apple-blossom);
  outline-offset: 0px;
  text-shadow: none;
  transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
}

.btn-5:hover {
  border: 1px solid;
  box-shadow: inset 0 0 20px var(--color-primary-apple-blossom), 0 0 20px var(--color-primary-apple-blossom);
  outline-color: rgba(255, 255, 255, 0);
  outline-offset: 15px;
  text-shadow: 1px 1px 2px var(--color-primary-apple-blossom);
}

/*
************************************************************************
Form Pop-Up 
************************************************************************
*/
.create-post {
  opacity: 0;
  transition: opacity 1s;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 50vw;
  height: 80vh;
  margin-top: -35vh;
  /* Negative half of height. */
  margin-left: -25vw;
  background-color: white;
  box-shadow: 5px 5px 5px black;
  border-radius: 5%;
  visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.post-form {
  width: 80%;
}

.fa-times-circle {
  float: right;
  color: var(--color-primary-apple-blossom);
  font-size: 20px;
  margin: 5% 0;
  cursor: pointer;
}

.fa-times-circle:hover {
  color: #a95c5c;
}

.form-title {
  margin: 5% 0;
  text-align: left;
  font-size: 1rem;
  color: var(--color-primary-apple-blossom);
}

.post-form div {
  margin: 12px 0;
}

.post-form input {
  width: 100%;
  border: 1px solid var(--color-primary-apple-blossom);
  padding: 10px;
  outline: none;
}

.post-form input::-moz-placeholder {
  color: var(--color-primary-apple-blossom);
  margin-left: 10px;
  font-family: "Jaldi", sans-serif;
}

.post-form input:-ms-input-placeholder {
  color: var(--color-primary-apple-blossom);
  margin-left: 10px;
  font-family: "Jaldi", sans-serif;
}

.post-form input::placeholder {
  color: var(--color-primary-apple-blossom);
  margin-left: 10px;
  font-family: "Jaldi", sans-serif;
}

.post-form textarea {
  padding: 10px;
  width: 100%;
  overflow: auto;
  font-family: "Roboto", sans-serif;
  border: 1px solid var(--color-primary-apple-blossom);
  outline: none;
}

.post-form textarea::-moz-placeholder {
  margin-left: 10px;
  color: var(--color-primary-apple-blossom);
  font-family: "Jaldi", sans-serif;
}

.post-form textarea:-ms-input-placeholder {
  margin-left: 10px;
  color: var(--color-primary-apple-blossom);
  font-family: "Jaldi", sans-serif;
}

.post-form textarea::placeholder {
  margin-left: 10px;
  color: var(--color-primary-apple-blossom);
  font-family: "Jaldi", sans-serif;
}

.post-form button {
  width: 20%;
  margin: 20px 0;
  padding: 10px;
  background-color: var(--color-primary-apple-blossom);
  color: white;
  border: none;
  border-radius: 5%;
  float: right;
}

.post-form button:hover {
  color: var(--color-primary-apple-blossom);
  border: 1px solid var(--color-primary-apple-blossom);
  background-color: white;
}

.post-form small {
  margin: 0 auto;
}

textarea.error {
  border: 1px solid brown;
}

/*
************************************************************************
Search Words
************************************************************************
*/
.search-content {
  margin-top: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.search-img {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.search-img img {
  width: 10%;
}

.search-container {
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.search-bar {
  width: 60%;
  height: 10vh;
  display: flex;
  justify-content: space-between;
  border: 1px solid var(--color-primary-apple-blossom);
  border-radius: 2%;
}

.search-icon {
  background-color: white;
  border: none;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fa-search {
  color: var(--color-primary-apple-blossom);
  font-size: 1.5rem;
}

.search-bar input {
  border: none;
  outline: none;
  flex: 10;
}

.search-bar input::-moz-placeholder {
  padding-left: 5px;
  color: var(--color-primary-apple-blossom);
}

.search-bar input:-ms-input-placeholder {
  padding-left: 5px;
  color: var(--color-primary-apple-blossom);
}

.search-bar input::placeholder {
  padding-left: 5px;
  color: var(--color-primary-apple-blossom);
}

.search-dropdown {
  margin: 0 auto;
  width: 60%;
  background-color: white;
  border-radius: 0 0 5% 5%;
  box-shadow: 1px 1px 10px #c5c3c3;
  visibility: visible;
  overflow: auto;
  max-height: 200px;
}

.search-dropdown.hidden {
  visibility: hidden;
}

.post {
  display: block;
  padding: 10px;
  margin-bottom: 10px;
  cursor: pointer;
  text-decoration: none;
}
.post span {
  margin: 0 10px;
  color: #c0bebe;
  font-size: 0.7rem;
}
.post strong {
  color: var(--color-primary-apple-blossom);
}

.post:hover {
  background-color: var(--color-primary-apple-blossom);
}
.post:hover strong {
  color: white;
}

.fa-arrow-circle-left {
  color: var(--color-primary-apple-blossom);
  font-size: 2rem;
  margin: 5% 0 0 5%;
}

.posts-container {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.fa-arrow-circle-left:hover {
  color: brown;
}

.post-details {
  margin-top: 10vh;
  background-color: var(--color-primary-apple-blossom);
  font-size: 0.5rem;
  width: 60%;
  padding: 2%;
  text-align: left;
  border-radius: 1%;
  box-shadow: 5px 5px 5px black;
  -webkit-animation-name: opacity-animation;
          animation-name: opacity-animation;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}
.post-details .edit-delete-post-icons {
  margin: 5px 0;
}
.post-details .fa-pen-square, .post-details .fa-trash-alt, .post-details .fa-thumbs-up, .post-details .likes-count {
  float: right;
  color: white;
  font-size: 1rem;
  margin: 0 5px;
}
.post-details h1 {
  font-weight: bold;
  color: black;
}
.post-details span {
  margin: 0 1%;
  font-weight: 200;
  color: white;
}

:root {
  --color-primary-grey:rgb(208, 208, 208);
  --color-primary-apple-blossom: #A64847;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: white;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  background-image: url(/public/media/Subtle-Stripes.svg);
}

.dark-backround {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: black;
  opacity: 0;
  transition: opacity 0.3s;
  display: none;
}