.login-page{
    margin:15vh 0; 
    width:100%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-title{
    color:var(--color-primary-apple-blossom); 
}

.login-form-container {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5%;
    width: 45%;
    background-color: var(--color-primary-apple-blossom);
}

.login-form{
    width:90%;
    padding:15px;
}

.login-form div{
    margin: 12px 0;
}

.login-form input{
   width:60%;
   padding: 3px;
   margin-left:10px;
   outline: none;
   border:none;
   float:right;
}

.login-form label{
    color:white;
}

.login-form small{
    display:block;
    text-align: right; 
    margin:5px 0;
    color:white;
    font-size: 0.5rem;
}
.login-form button {
    background-color: white;
    border: var(--color-primary-apple-blossom);
    color: var(--color-primary-apple-blossom);
    padding: 4px;
    width: 60%;
    float: right;
}
 
 .login-form button:hover{
     border: 1px solid white; 
     background-color: var(--color-primary-apple-blossom);
     color:white;
     cursor: pointer;
 }

.login-form input.error{
    border: 1px solid brown;
}

.login-status{
    text-align: center;
    color:var(--color-primary-apple-blossom);
    padding:10px;    
}

.forgot-password{
    a{
        text-decoration: none;
        color:white; 
    }
    a:hover{
        text-decoration: underline;
    }
}