.post-details{
    background-color: var(--color-primary-grey);
    font-size: 0.5rem;
    padding:1%;
    margin: 1% 0; 

    h1{
        font-weight: bold;
        color:brown
    }
    span{
        margin:0 1%;
        font-weight: 200;
        color:black
    }
}