.fa-arrow-circle-left{
    color:var(--color-primary-apple-blossom); 
    font-size: 2rem;
    margin:5% 0 0 5%; 
}

.posts-container{
    height:80vh;
    display:flex;
    justify-content: center;
    align-items: flex-start;
}

.fa-arrow-circle-left:hover{
    color:brown;
}




.post-details{
    margin-top:10vh;
    background-color: var(--color-primary-apple-blossom);
    font-size: 0.5rem;
    width:60%;
    padding:2%; 
    text-align: left;
    border-radius:1%;
    box-shadow: 5px 5px 5px black;
    animation-name: opacity-animation;
    animation-duration: 1s;

    .edit-delete-post-icons{
        margin:5px 0; 
    }
    .fa-pen-square, .fa-trash-alt, .fa-thumbs-up, .likes-count{
        float: right;
        color:white;
        font-size: 1rem;
        margin:0 5px; 
    }

    h1{
        font-weight: bold;
        color:black;
    }
    span{
        margin:0 1%;
        font-weight: 200;
        color:white;
    }
}

