@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jaldi&display=swap');
@import 'dashboard'; 
@import 'login-page'; 
@import 'registration-page'; 
@import 'navbar'; 
@import 'search-page'; 
@import 'post-page'; 


:root{
    --color-primary-grey:rgb(208, 208, 208); 
    --color-primary-apple-blossom: #A64847; 

}

*{
    box-sizing: border-box;
}

body{
    margin:0;
    padding:0; 
    background-color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    background-image: url(/public/media/Subtle-Stripes.svg);
}

.dark-backround{
    position:fixed; 
    width:100vw; 
    height: 100vh;
    background-color:black; 
    opacity:0;
    transition: opacity 0.3s; 
    display:none; 
}




