:root{
--Very-Dark-Magenta: hsl(300, 43%, 22%);
--Dark-Grayish-Magenta: hsl(303, 10%, 53%);
--Light-Grayish-Magenta: hsl(300, 24%, 96%);
--Soft-Pink: hsl(333, 80%, 67%); 
--White: hsl(0, 0%, 100%);
--Color-needed: #511f50; 
--Font-size: 15px;
box-sizing: border-box; 
}

.attribution {
    font-size: 11px;
    text-align: center;
  }
  .attribution a {
    color: hsl(228, 45%, 44%);
  }

body{
    margin:0; 
    font-family: 'Spartan', sans-serif;
    background-color: var(--White);
}

.main{
    margin-top: 40px;
    display:flex; 
    flex-direction: row;
    justify-content: space-around;
}

/* left content */

.left-content h1{
    font-size: 30px;
    color:var(--Color-needed);
}
.left-content h2{
    font-size: 12px;
    font-weight: 200;
}

/* right content */


.first-header{
    margin-top: 40px;
}
.second-header{
    margin-left: 40px;
}

.third-header{
    margin-left: 80px;
}

.right-content h2{
    margin-bottom: 40px;
    background-color: var(--Light-Grayish-Magenta);
    font-size: 10px;
    font-weight: 600;
    color: var(--Dark-Grayish-Magenta);
}

/*bottom cntent*/ 

.bottom-content{
    margin-top: 30px;
    display:flex; 
    flex-direction: row;
    justify-content: center;
}

.box{
    padding-top: 20px;
    height:200px; 
    width:300px; 
    background-color: var(--Color-needed);
    text-align: center; 
    margin: 0 20px;
    border-radius: 10px;
}

.box.box2{
    margin-top:10px; 
}

.box.box3{
    margin-top:20px; 
}

.profil{
    padding-left: 20px;
    display:flex; 
    flex-direction: row;
    align-items: center;
}

.box img{
    margin-right: 10px;
    border-radius: 50px;
    height: 50px;
}

.name-career{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}


.bottom-content h1{
    position: relative;
    top:10px;
    margin-top: 20px;
    color: white;
    font-size: 12px;
}

.bottom-content h2{
    position:relative; 
    bottom: 5px;
    margin-bottom: 20px;
    color: var(--Soft-Pink);
    font-size: 10px;
    font-weight: 400;
}

.bottom-content p{
    padding: 0 15px;
    line-height: 180%;
    color: white;
    font-size: 10px;
}

.svg{
    background-color: chocolate;
}





